/* Container for all products (Wraps multiple product cards) */
.products-outside-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 20px; /* Space between cards */
    padding: 20px;
}

/* Each individual product card */
.products-container {
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 16px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    background: white;
    text-align: center;
    height: 30rem;
}

.images-container{
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}

/* Image container */
.product-image-container {
    width: 150px;  
    height: 250px;

}

.product-image-container img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

/* Styling for other elements */
.product-title {
    font-size: 25px;
    font-weight: bold;
    margin-bottom: 15px;
    cursor: pointer;
    transition: color 0.3s ease-in-out;

}

.product-description {
    font-size: 14px;
    color: #555;
    margin-bottom: 20px;
}

.product-price {
    font-size: 25px;
    font-weight: bold;
    margin-top: 5px;
    margin-bottom: 20px;

}

.product-rating {
    font-size: 14px;
    color: #ff9900;
}

.add-to-cart-button {
    margin-top: 25px;
    margin-bottom: 20px;
    padding: 10px 25px;
    border: none;
    background-color: rgb(12, 12, 255);
    color: white;
    border-radius: 5px;
    cursor: pointer;
    font-family: inherit;
    font-size: 20px;
    transition: 0.5s ease-out;
}

.add-to-cart-button:hover {
    background-color: darkblue;
}


.product-title:hover {
    color: #ff5733; 
}
